// Ionic Core
$font-path: "../assets/fonts";

$app-direction: ltr;
@import "ionic.globals";


// Ionicons
@import "ionic.ionicons";


// Global
$colors: ( 
      primary: #387ef5, 
      secondary: #32db64, 
      danger: #f53d3d, 
      light: #f4f4f4, 
      dark: #7f8c8d, 
      favor: #69BB7B
);


// iOS-only
@import "ionic.theme.default";


// Fonts
@import "roboto";
@import "noto-sans";
